In [1]:
import pandas as pd
from sqlalchemy import create_engine
from password import SQLPassword as password

In [2]:
obesity = pd.read_csv("Resources/obesity_df.csv")
obesity.head()

   Unnamed: 0      Country  Year    Obesity (%)         Sex
0           0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1           1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2           2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3           3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4           4  Afghanistan  1976  0.2 [0.0-0.7]        Male

In [3]:
obesity=obesity.rename(columns={"Obesity (%)": "Obesity"})
obesity
obesity = obesity.loc[obesity["Obesity"]!="No"]

In [4]:
world_happiness = pd.read_csv("Resources/world_happiness_df.csv")
world_happiness.head()

,Unnamed: 0,Country,Year,Life_Ladder,Log_GDP_Per_Capita,Social_Support,Healthy_Life_Expectancy_at_Birth,Freedom_to_Make_Life_Choices,Generosity,Perceptions_of_Corruptions,Positive_Affect,Negative_Affect
0,0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [5]:
obesity_cols=["Country", "Year", "Obesity", "Sex"]
obesity_df = obesity[['Country', 'Year', 'Obesity', 'Sex']]
obesity_df.fillna(0, inplace = True)
obesity_df = obesity_df[(obesity_df['Year'] >= 2008)&(obesity_df['Sex']=='Both sexes')]
obesity_df["Obesity"]=[obesity_df.Obesity.str.split(expand=True)][0]

obesity_df

C:\Users\perez\anaconda3\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

           Country  Year Obesity         Sex
99     Afghanistan  2008     3.6  Both sexes
102    Afghanistan  2009     3.8  Both sexes
105    Afghanistan  2010     4.0  Both sexes
108    Afghanistan  2011     4.2  Both sexes
111    Afghanistan  2012     4.4  Both sexes
...            ...   ...     ...         ...
24555     Zimbabwe  2012    14.3  Both sexes
24558     Zimbabwe  2013    14.6  Both sexes
24561     Zimbabwe  2014    14.9  Both sexes
24564     Zimbabwe  2015    15.2  Both sexes
24567     Zimbabwe  2016    15.5  Both sexes

[1755 rows x 4 columns]

In [6]:
world_happiness_df = world_happiness[['Country', 'Year', 'Life_Ladder','Log_GDP_Per_Capita','Social_Support',\
                           'Healthy_Life_Expectancy_at_Birth','Freedom_to_Make_Life_Choices', 'Generosity',\
                           'Perceptions_of_Corruptions','Positive_Affect','Negative_Affect']].copy()

In [7]:
world_happiness_df.columns = ['Country', 'Year', 'Life_Ladder','Log_GDP_Per_Capita','Social_Support',\
                           'Healthy_Life_Expectancy_at_Birth','Freedom_to_Make_Life_Choices', 'Generosity',\
                           'Perceptions_of_Corruptions','Positive_Affect','Negative_Affect']
world_happiness_df.fillna(0, inplace = True)
world_happiness_df.head()

,Country,Year,Life_Ladder,Log_GDP_Per_Capita,Social_Support,Healthy_Life_Expectancy_at_Birth,Freedom_to_Make_Life_Choices,Generosity,Perceptions_of_Corruptions,Positive_Affect,Negative_Affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [8]:
joint_df = pd.merge(obesity_df, world_happiness_df, on = ['Country','Year'])
joint_df.head()

,Country,Year,Obesity,Sex,Life_Ladder,Log_GDP_Per_Capita,Social_Support,Healthy_Life_Expectancy_at_Birth,Freedom_to_Make_Life_Choices,Generosity,Perceptions_of_Corruptions,Positive_Affect,Negative_Affect
0,Afghanistan,2008,3.6,Both sexes,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,3.8,Both sexes,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.0,Both sexes,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,4.2,Both sexes,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,4.4,Both sexes,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [9]:
connection_string = f"{password}@localhost:5432/etl_project"
engine = create_engine(f'postgresql://{connection_string}')
engine.table_names()

['obesity', 'worldhappiness']

In [10]:
obesity_df.to_sql('obesity', con=engine, if_exists='replace')
world_happiness_df.to_sql('worldhappiness', con=engine, if_exists='replace')

In [11]:
world_happiness_df.to_csv("Resources/world_happiness_df.csv")
obesity_df.to_csv("Resources/obesity_df.csv")