In [1]:
%matplotlib notebook

In [2]:
# Import Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [42]:
query = pd.read_csv("Resources/query_results.csv")
query
#query['Obesity'] = query['Obesity'].astype(float)
query['Positive_Affect'] = query['Positive_Affect'].astype(float)

In [45]:
query = query.sort_values(by = 'Positive_Affect', axis=0, ascending=True, inplace=False)
query.head(15)

                  Country  Year Obesity  Positive_Affect
83             Bangladesh  2014     3.2            0.000
17                Algeria  2010    23.3            0.000
74                Bahrain  2014    28.8            0.000
86                Belarus  2008    21.6            0.000
935               Tunisia  2009    22.9            0.000
516                Kuwait  2014    36.8            0.000
718                  Oman  2011    23.7            0.000
784                 Qatar  2015    34.5            0.000
264              Djibouti  2010    11.8            0.000
982  United Arab Emirates  2014    30.3            0.000
781                 Qatar  2010    31.1            0.000
441                  Iraq  2013    28.6            0.000
981  United Arab Emirates  2013    29.7            0.000
648               Morocco  2010    22.1            0.000
927                  Togo  2008     6.0            0.362

In [46]:
happiness = query['Positive_Affect']
obesity = query['Obesity']
plt.xticks(rotation =90)
plt.scatter(obesity, happiness, edgecolors='r')
plt.ylabel('Positive Affect')
plt.xlabel('Obesity %')
plt.title('Obesity in each Country')
plt.show()